header {
    height: 10vh;
    padding: 0 8%;
    background: #080008;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    padding: 0;
    margin: 0;
}

.nav-links {
    padding: 28px 0;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
}