header {
    max-height: 8rem;
    min-height: 4rem;
    padding: 0 8%;
    background: #080008;
    position: relative;
}

.custom-signup-btn {
    height: 2.5rem;
    padding: 10px 10px;
    background: transparent;
    border: 1px solid #ffffff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    padding: 0;
    margin-top: 10px;
}

.nav-links {
    padding: 28px 0;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
}