  .__form-input {
    padding: 0.8rem;
    width: 15rem;
    margin-top: 0.8rem;
    border-radius: 0.3rem;
    background-color: none;
    outline: none;
  }
  
.__form-input:hover,
.__form-input:focus
  {
    border-color: blue;
  }
  
  .__form-label {
    align-self: start;
    position: relative;
    padding: 0 0.5rem;
    bottom: 2rem;
    font-family: inherit;
    transition: bottom 0.2s ease-in,
      font-size 0.5s ease-in;
  }
  
  .__form-input:hover + .__form-label,
  .__form-input:not(:placeholder-shown) + .__form-label{
    bottom: 3.2rem;
    font-size: 0.6rem;
    margin-left: 0.5rem;
    background-color: white;
  }

  .__form-input[aria-invalid='true'] {
    border-color: red;
  }

  .__error-message {
    color: red;
    margin-top:0px;
    padding-top:0px;
  }