*,*::before,*::after {
    box-sizing: border-box;
}

input {
    position: relative;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    padding: 12px;
    border-radius: 3px;
    width: 15rem;
    outline: 2px solid black;
    margin-bottom: 5px;
    color: #ffff;
}

.custom-label {
    position: relative;
    padding-top: 30px;
    margin-bottom: 20px;
}

.custom-label .placeholder {
    position: absolute;
    font-size: 10px;
    left: 13px;
    top: 27px;
    transform: translateY(-50%);
    color:  rgb(255, 255, 255);
}

.custom-label .error-message {
    color: red;
    position: absolute;
    font-size: 12px;
    right: 12px;
    bottom: 40px;
    transition: color 3s ease;

}