header {
    min-height: 2rem;
    min-width: 100%;
    background: #080008;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 9rem;
    padding: 1rem;
}

.nav-links li {
    display: inline-block;
    margin: 0 3rem;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    
    header {
        min-height: 7rem;
    }
  }